*{
  padding: 0;
  margin: 0;
}

/* 전체 body 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* 헤더 스타일 */
  .header {
    background-color: white; /* 배경색 지정 */
    color: black; /* 텍스트 색상 */
    padding: 15px; /* 상하좌우 20px */
    display: flex;
    justify-content: space-between; /* 로고와 메뉴 사이 여백 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  /* 로고 이미지 스타일 */
  .logo img {
    width: 200px; /* 로고 이미지 너비 */
    height: 50px; /* 로고 이미지 높이 자동 조정 */
  }
  
  /* 네비게이션 메뉴 스타일 */
  .navbar {
    text-align: center; /* 텍스트 가운데 정렬 */
  }
  
  .navbar a {
    color: black; /* 네비게이션 메뉴 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin: 0 10px; /* 네비게이션 메뉴 간격 */
    padding: 5px 10px; /* 네비게이션 메뉴 안 여백 */
    border-radius: 5px; /* 네비게이션 메뉴 모서리 둥글게 */
  }
  
  .navbar a:hover {
    background-color: #555; /* 마우스 호버시 배경색 변경 */
  }
  
  /* 로그인 및 회원가입 링크 스타일 */
  .login-links {
    margin-left: 20px; /* 로그인 링크 왼쪽 여백 */
  }
  
  .login-links a {
    color: black; /* 링크 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin-right: 10px; /* 링크 간격 */
    padding: 10px;
  }
  
  .login-links a:hover {
    background-color: #555; /* 호버 시 배경색 변경  */
    border-radius: 5px;
  }
  #container {
    width: 1320px; /*메인페이지->컨테이너*/
    margin: 0 auto;
}

/*슬라이드*/
ul,
li {
    list-style: none;
}

[name="slide"] {
    display: none;
}

.slidebox {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slidebox img {
    max-width: 100%;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.35s;
}

.slidebox .slideitem {
    animation: slideAnimation 8s infinite linear;
}

@keyframes slideAnimation {

    0%,
    20%,
    100% {
        transform: translateX(0%);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }
}
/*information*/
.information{
  padding-top: 5%;
  padding-bottom: 5%;
}
.infor{
  width: 650px;
  height: 400px;
}
.information_img{
  padding-left: 40%;
}
.detail{
  padding-left:33%;
  padding-bottom: 20px;
}
.detail2{
  padding-left:50%;
}
/*footer*/
.Copyright{
  list-style: none;
  color: aliceblue;
}
.content{
  text-align: center;
}
.box{
  text-align: center;
}
#footer_img
{
  padding-top: 10px;
  width: 250px;
  height: 70px;
  filter: grayscale();
}
footer{
  background-color: #555;
}
/* 메인페이지 -> game schedule 영역 */
#game_schedule_table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

#game_schedule_table tr, #game_schedule_table td, #game_schedule_table th {
  border: 1px solid lightgray;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.today {
  background-color: lightyellow;
}

.have_game a {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.have_game a:active {
  color: blue;
}
