*{
  padding: 0;
  margin: 0;
}

/* 전체 body 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* 헤더 스타일 */
  .header {
    background-color: white; /* 배경색 지정 */
    color: black; /* 텍스트 색상 */
    padding: 15px; /* 상하좌우 20px */
    display: flex;
    justify-content: space-between; /* 로고와 메뉴 사이 여백 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  /* 로고 이미지 스타일 */
  .logo img {
    width: 200px; /* 로고 이미지 너비 */
    height: 50px; /* 로고 이미지 높이 자동 조정 */
  }
  
  /* 네비게이션 메뉴 스타일 */
  .navbar {
    text-align: center; /* 텍스트 가운데 정렬 */
  }
  
  .navbar a {
    color: black; /* 네비게이션 메뉴 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin: 0 10px; /* 네비게이션 메뉴 간격 */
    padding: 5px 10px; /* 네비게이션 메뉴 안 여백 */
    border-radius: 5px; /* 네비게이션 메뉴 모서리 둥글게 */
  }
  
  .navbar a:hover {
    background-color: #555; /* 마우스 호버시 배경색 변경 */
  }
  
  /* 로그인 및 회원가입 링크 스타일 */
  .login-links {
    margin-left: 20px; /* 로그인 링크 왼쪽 여백 */
  }
  
  .login-links a {
    color: black; /* 링크 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin-right: 10px; /* 링크 간격 */
    padding: 10px;
  }
  
  .login-links a:hover {
    background-color: #555; /* 호버 시 배경색 변경  */
    border-radius: 5px;
  }
  #container {
    width: 1320px; /*메인페이지->컨테이너*/
    margin: 0 auto;
}

/*슬라이드*/
ul,
li {
    list-style: none;
}

[name="slide"] {
    display: none;
}

.slidebox {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slidebox img {
    max-width: 100%;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.35s;
}

.slidebox .slideitem {
    animation: slideAnimation 8s infinite linear;
}

@keyframes slideAnimation {

    0%,
    20%,
    100% {
        transform: translateX(0%);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }
}
/*information*/
.information{
  padding-top: 5%;
  padding-bottom: 5%;
}
.infor{
  width: 650px;
  height: 400px;
}
.information_img{
  padding-left: 40%;
}
.detail{
  padding-left:33%;
  padding-bottom: 20px;
}
.detail2{
  padding-left:50%;
}
/*footer*/
.Copyright{
  list-style: none;
  color: aliceblue;
}
.content{
  text-align: center;
}
.box{
  text-align: center;
}
#footer_img
{
  padding-top: 10px;
  width: 250px;
  height: 70px;
  filter: grayscale();
}
footer{
  background-color: #555;
}
/* 메인페이지 -> game schedule 영역 */
#game_schedule_table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

#game_schedule_table tr, #game_schedule_table td, #game_schedule_table th {
  border: 1px solid lightgray;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.today {
  background-color: lightyellow;
}

.have_game a {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.have_game a:active {
  color: blue;
}

#modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}
#modal_close{
  font-size: 20px;
  border-radius: 0.25rem;
  border: 1px solid black;
  background-color: #007bff;
  color: white;
  margin-top: 20px;
  padding : 5px 10px;
  cursor: porinter;
}
#modal_container{
  padding : 30px 10px;
  background-color: white;
  width: 40%;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 20px;
}
#modal_body{
  margin-top: 20px;
  font-size: 24px;
}
#modal:target{
  visibility:  visible;
  opacity: 1;
}

#modal1{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}
#modal_close1{
  font-size: 20px;
  border-radius: 0.25rem;
  border: 1px solid black;
  background-color: #007bff;
  color: white;
  margin-top: 20px;
  padding : 5px 10px;
  cursor: porinter;
}
#modal_container1{
  padding : 30px 10px;
  background-color: white;
  width: 40%;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 20px;
}
#modal_body1{
  margin-top: 20px;
  font-size: 24px;
}
#modal1:target{
  visibility:  visible;
  opacity: 1;
}
#ranking {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

#ranking #ranking_menu {
  display: flex;
  justify-content: center;
}

#ranking #ranking_menu div {
  padding: 0 20px;
  font-size: 24px;
}

#ranking>div ul {
  visibility: hidden;
}

#ranking div p:hover+ul,
#ranking div ul:hover {
  visibility: visible;
}

#league_details {
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#league_details div {
  display: none;
}

#league_details div:target {
  display: block;
}

#ranking div ul li a,
#ranking div ul li a:active,
#league_top a, #league_top a:active
{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#league_top {
  margin-top: 50px;
  text-align: center;
}

#league_top div {
  border: 1px solid gray;
  border-radius: 30px;
  cursor: pointer;
}

#league_top div p {
  font-size: 24px;

}

#league_top div ul {
  font-size: 18px;
  display: none;
}

#league_top div:target ul {
  display: block;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.show_baseball{
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
}
.Facility_status{
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
}
.money{
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
}
.rule{
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
}
.baseballmap{
  padding-top: 20px;
  text-align: center;
}


#gallery {
  margin-top: 100px;
  text-align: center;
}

#gallery>div {
  display: none;
}

#gallery>div:first-of-type {
  display: flex;
}

#gallery>div:target {
  display: flex;
}

#gallery:has(:target:not(:is(#gallery1)))>#gallery1 {
  display: none;
}

#gallery div div {
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

#gallery div div p {
  visibility: hidden;
}

#gallery div div:hover p {
  visibility: visible;
}

#gallery div div:nth-of-type(1) {
  width: 290px;
  height: 200px;
}

#gallery div div:nth-of-type(2) {
  width: 600px;
  height: 350px;
}

#gallery div div:nth-of-type(3) {
  width: 290px;
  height: 200px;
}

.imgWhite {
  background-color: white;
}

.img1 {
  background-image: url("./선수제공파일/images/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url("./선수제공파일/images/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img3 {
  background-image: url("./선수제공파일/images/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img4 {
  background-image: url("./선수제공파일/images/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img5 {
  background-image: url("./선수제공파일/images/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img6 {
  background-image: url("./선수제공파일/images/06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}







body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0; padding:0}
body,h1,h2,h3,h4,input,button,textarea{font-family:'맑은고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif; font-size:12px; color:#000;}
body{text-align:left; word-break:break-word;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
a{color:#000; text-decoration:none}
hr{display:none}
legend{width:0;}
table{border-collapse:collapse; border-spacing:0}
caption{font-size:0; line-height:0; height:0}

.area_poll {padding: 30px;}
.box_poll {margin-top: 30px; padding-bottom: 30px;}
.box_poll .txt_question {position: relative; padding-left: 60px; font-size: 15px; line-height: 1.3em; color: #222;}
.box_poll .txt_question .txt_order {display: inline-block; position: absolute; top: 0; left: 0; margin-right: 10px; padding: 0 10px; background-color: #aba000; font-size: 13px; color: #fff;}
.box_poll_graph {position: relative; margin-left: 90px; margin-right: 120px; margin-top: 20px;}
.list_poll_graph li {position: relative; display: flex; align-items: center; height: 30px; font-size: 15px; line-height: 30px; color: #666;}
.list_poll_graph li .txt {display: block; position: absolute; top: 0; left: -90px; width: 80px; text-align: right;}
.list_poll_graph li .txt_num {display: inline-block; position: absolute; left: 5px; font-size: 12px; color: #000;}
.box_poll_graph .txt_total {position: absolute; top: 0; right: -120px; -webkit-box-sizing:border-box; box-sizing:border-box; width: 100px; height: 100%; font-size: 18px; color: #222; text-align: center;}
.box_poll_graph .txt_total span {display: block; font-weight: bold; font-size: 23px; color: #f26522;} 

.score_list{margin-top: 20px; display: flex; justify-content:space-between; }
.score_list span{ word-break:keep-all;}