/* 전체 body 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* 헤더 스타일 */
  .header {
    background-color: white; /* 배경색 지정 */
    color: black; /* 텍스트 색상 */
    padding: 15px; /* 상하좌우 20px */
    display: flex;
    justify-content: space-between; /* 로고와 메뉴 사이 여백 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  /* 로고 이미지 스타일 */
  .logo img {
    width: 200px; /* 로고 이미지 너비 */
    height: 50px; /* 로고 이미지 높이 자동 조정 */
  }
  
  /* 네비게이션 메뉴 스타일 */
  .navbar {
    text-align: center; /* 텍스트 가운데 정렬 */
  }
  
  .navbar a {
    color: black; /* 네비게이션 메뉴 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin: 0 10px; /* 네비게이션 메뉴 간격 */
    padding: 5px 10px; /* 네비게이션 메뉴 안 여백 */
    border-radius: 5px; /* 네비게이션 메뉴 모서리 둥글게 */
  }
  
  .navbar a:hover {
    background-color: #555; /* 마우스 호버시 배경색 변경 */
  }
  
  /* 로그인 및 회원가입 링크 스타일 */
  .login-links {
    margin-left: 20px; /* 로그인 링크 왼쪽 여백 */
  }
  
  .login-links a {
    color: black; /* 링크 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin-right: 10px; /* 링크 간격 */
    padding: 10px;
  }
  
  .login-links a:hover {
    background-color: #555; /* 호버 시 배경색 변경  */
    border-radius: 5px;
  }